.imagen-superior-izquierda {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px; /* Cambia esto según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
    z-index: 1; /* Asegura que la imagen no cubra otros elementos */
}

.contenido {
    margin-top: 60px; /* Ajusta este valor para mover el texto abajo y evitar la superposición */
}
Mary1998#.